body {
  font-size: $bodyfontsize;
  margin: 50px;
  padding-top: 30px;
}

h1 {

}

hr {
  margin: 30px 0;
}

.bucket {
  background-color: lighten($light-purple, 38%);
  border-color: $black;
  border-radius: 2px;
  float: left;
  margin: 20px;
  padding: 20px 0;
  width: 300px;
}

.btn-group {
  float: left;
  padding-left: 15px;
}

.btn-line {
  background-color: transparent;
  border-color: $light-purple;
  border-radius: 2px;
  color: $light-purple;
  font-size: 16px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.control-label {
  color: $light-purple;
  font-size: $labelsize;
  line-height: 16px;
  min-height: 20px;
}

.dropdown-menu {
  padding: 20px 10px;
  // width: 300px;
}

.form-area {
  // margin: 50px;
  width: 25vw;
}

.form-control-static {
  line-height: 16px;
  min-height: 20px;
  padding: 0 0 20px;
}

// .form-group {
//   margin: 2px 0;
// }

.form-horizontal {
  // margin-left: 0;
  .control-label {
    margin-left: 0;
    padding-right: 0;
    padding-top: 2px;
  }

  .form-group {
    margin: 0;
  }
}

.inputs-create-form {
  margin-bottom: 10px;
}

.item-alert {
  float: left;
  margin: 10px 10px 0;
  padding: 10px;
  // width: 300px;
}

.navbar-btn {
  margin-right: 10px;
}

.navbar-signout-changepw {
  position: absolute;
  right: 30px;
  top: 0;
}

// .panel-group {
//   width: 240px;
// }
//
// .panel-title {
//   float: left;
// }
