a {
  color: $sea-green;
}

body {
  font-family: $font-family-sans;
  font-size: $bodyfontsize;
  margin: 50px;
  padding-top: 30px;
}

h1 {
  color: $sea-green;
  font-family: $font-family-cursive;
  font-size: $font-size-h1;
}

hr {
  margin: 30px 0;
}

.bucket {
  background-color: lighten($light-purple, 38%);
  border-color: $black;
  border-radius: 2px;
  float: left;
  margin: 20px;
  padding: 20px 0;
  width: 300px;

  &.active-color {
    background-color: lighten($sea-green, 40%);
  }
}

.btn-group {
  float: left;
  padding-left: 15px;
}

.btn-line {
  background-color: transparent;
  border-color: $sea-green;
  border-radius: 2px;
  color: $sea-green;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.control-label {
  color: $light-purple;
  font-size: $labelsize;
  line-height: 16px;
  min-height: 20px;

  &.active-label {
    color: $sea-green;
  }
}

.create-label {
  color: $sea-green;
}

.delete-item-conf-btn {
  padding-right: 10px;
}

.dropdown-menu {
  padding: 20px 10px;
  // width: 300px;
}

.form-area {
  // margin: 50px;
  width: 420px;
}

.form-control-static {
  line-height: 16px;
  min-height: 20px;
  padding: 0 0 20px;
}

// .form-group {
//   margin: 2px 0;
// }

.form-horizontal {
  // margin-left: 0;
  &.control-label {
    margin-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .form-group {
    margin: 0;
  }
}

.inputs-create-form {
  margin-bottom: 10px;
}

.item-alert {
  float: left;
  margin: 10px 10px 0;
  padding: 10px;
  // width: 300px;
}

.landing-intro {
  float: left;
  margin: 0 0 40px;

  p {
    font-size: 20px;
    padding-right: 40px;
  }
}

.navbar-btn {
  margin-right: 10px;
}

.navbar-default {
  .navbar-brand {
    color: $sea-green;
    font-family: $font-family-cursive;
  }

  .navbar-text {
    color: $sea-green;
  }
}

.navbar-nav {
  display: inline-block;
  margin: 0;
  float: none;
}

.navbar-signout-changepw {
  position: absolute;
  right: 30px;
  top: 0;
}

.sign-in-sign-up-forms {
  // float: right;
}

.tab-content {
  margin-top: 50px;
}

// @media (min-width: 768px) {
//   .form-horizontal {
//     &.control-label {
//       padding-top: 0;
//     }
//   }
// }

@media only screen and (max-width: 994px) {
  //
}

@media (min-width: 768px) {
  .form-horizontal {
    .control-label {
      padding-right: 0;
      padding-top: 0;
    }
  }

  // .navbar-collapse {
  //   width: 100vw;
  // }
  .navbar-form {
    .form-control {
      width: 100%;
    }
  }

  .navbar-header {
    float: none;
  }
}

@media only screen and (max-width: 768px) {
  .sign-in-sign-up-forms {
    float: none;
  }

  .navbar-signout-changepw {
    position: none;
    right: auto;
    top: auto;
  }
}

@media only screen and (max-width: 580px) {
  .form-area {
    width: 100%;
  }

  .sign-in-sign-up-forms {
    float: none;
  }
}

@media only screen and (max-width: 350px) {
  .form-area {
    width: 100vw;
  }

  .sign-in-sign-up-forms {
    float: none;
  }
}
